body {background-color:white;}
h1{
  color:grey;
  text-align:center
}
table {
max-width: 300px;
min-width: 300px;
margin: 0 auto;
}
.res{
  background-color:yellow
}
#output_table{
  display: none
}


